
/*IMG de fondo*/
  body {
    font-family: Arial, sans-serif;
    background-image: url("Img/ss.GIF"); 

    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  @media (max-width: 768px) {
    .circle {
      width: 50%;
    }
  }
  

  /* Styles titulo*/
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

  }
  
  h1 {
    margin: 12;
  }
 
  
  #container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;

    /*Margin top nombres*/
  }
  div.name {
    margin-top: 220px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-family: Arial;
    font-weight: bold; /* Negrita */
  }
  
  /*cambia distacia de circulo_Color y demas */
  .circle {
    width: 200px;
    height: 220px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    margin-block-end: 450px;
    transform: translateY(90px);
  }

  
  
/* IMg dentro de los circulos del infierno */
#circle1{
  background-image: url("Img/foto2.png");  
}
  #circle2 {
    background-image: url("Img/foto1.png");  
  }
  
  #circle3 {
    background-image: url("Img/foto2.png"); 
  }

  #circle4 {
    background-image: url("Img/foto2.png") ; 
  }

  #circle5 {
    background-image: url("Img/foto2.png"); 
  }
 
  /*  estilos para los  círculos */
  
  h2 {
    margin-top: 0;
    margin-block-end: 30px;
  }
  

  
  @media (max-width: 768px) {
    .circle {
      width: 100%;
    }
  }

  /* Animación de los círculos */
  
@keyframes Animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.circle {
  /* Resto de estilos... */
  animation: circleAnimation 0.5s ease-in-out forwards, Animation 10s ease-in-out infinite;
  
}


/*:::::Pie de Pagina*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: #000000;
    border-top: 1px solid rgb(191, 11, 11); /* Ajusta el color y el grosor de la línea */
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}

/*Cambiar de color © 2023*/
.pie-pagina .grupo-2{
    background-color:#000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff3f3;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


